/* Global styles */
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Root UI", Arial, sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: #707070;
  text-transform: none;

  background-color: #f2f2f2;

  /* background-image: url("../img/screenshot.png");
  background-size: 1200px auto;
  background-position: top center;
  background-repeat: no-repeat; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #707070;
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 130%;
  color: #2d2d2d;

  text-align: center;
  vertical-align: middle;

  background: linear-gradient(135deg, #FFFFFF 0%, #E8E8E8 100%);
  border: 2px solid #D79B00;
  box-sizing: border-box;
  box-shadow: -5px 5px 10px rgba(220, 220, 220, 0.2), 5px -5px 10px rgba(220, 220, 220, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(220, 220, 220, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(220, 220, 220, 0.5);
  border-radius: 5px;
}

.button:hover,
.button:focus {
  color: #FFFFFF;
  background-color: #D79B00;
  box-shadow: none;
}

h3 {
  font-size: 20px;
  line-height: 130%;
  font-weight: 500;
  color: #2d2d2d;
}


/* Header */



.nav-links a:focus,
.nav-links a:hover {
  color: #D79B00;
}


/* Start-screen */
.slogan-heading {
  font-size: 44px;
  line-height: 130%;
  font-weight: 600;
  color: #2d2d2d;
}

.slogan-description {
  font-size: 20px;
  line-height: 150%;
}

.quiz-description {
  font-size: 20px;
  line-height: 150%;
  color: #2d2d2d;
}

.quiz-description
.text-yellow {
  color: #D79B00;
}


.features-list {
  list-style: none;
}

.features-item
.text-black {
  color: #2d2d2d;
  font-weight: 600;
}


/* Section headings */
.section-heading {
  font-size: 40px;
  line-height: 130%;
  font-weight: 500;
  color: #2d2d2d;
}

.section-description {
  font-size: 20px;
  line-height: 130%;
}


/* Screen-2 (works)*/
.works-item img:hover {
  opacity: 0.9;
}

.more-info,
.link-to-site {
  color: #D79B00;
  opacity: 0.6;
  line-height: 130%;
}

.more-info:hover,
.link-to-site:hover,
.more-info:focus,
.link-to-site:focus {
  color: #D79B00;
  opacity: 1;
}


/* Section clients */


/* Section services */
.services-price {
  font-size: 16px;
  line-height: 130%;
  color: #2d2d2d;
}


/* Section How to start? */


/* Footer */


.footer a:hover,
.footer a:focus {
  color: #D79B00;
}

.copyright {
  font-size: 12px;
  line-height: 130%;
}


/* --------------------  GRID STYLES  ---------------------- */
.site-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(60px, auto);
}


/* ````` HEADER ````` */
.header {
  position: sticky;

  top: 0px;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  box-shadow: -7px 7px 14px rgba(220, 220, 220, 0.2), 7px -7px 14px rgba(220, 220, 220, 0.2), -7px -7px 14px rgba(255, 255, 255, 0.9), 7px 7px 18px rgba(220, 220, 220, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(220, 220, 220, 0.5);
  border-radius: 0px;
}

.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;

  /* background-color: rgba(152, 224, 236, 0.2); */
}

.nav-bar {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr;

  padding: 15px 0;

  /* background-color: rgba(152, 224, 236, 0.2); */
}

.logo-link {
  display: grid;
  width: 36px;
  height: 28px;

  /* background-color: rgba(152, 224, 236, 0.2); */
}

.nav-links {
  display: grid;
  grid-template: 1fr / repeat(5, auto);
  grid-auto-columns: min-content;
  gap: 50px;

  justify-self: end;

  /* background-color: rgba(152, 224, 236, 0.2); */
}

.nav-links li {
  display: grid;
  align-items: center;
}




.firstscreen-grid {
  display: grid;
  grid-template-columns: 1fr 360px;
  grid-auto-rows: minmax(88px, auto);
  gap: 95px 130px;
  margin-top: 120px;
  margin-bottom: 120px;

  /* background-color: rgba(55, 187, 211, 0.2);
  box-shadow: inset 0 0 0 1px rgb(71, 71, 71); */
}

.slogan {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  row-gap: 35px;

  width: 100%;
  height: auto;

  /* background-color: rgba(55, 187, 211, 0.2);
  box-shadow: inset 0 0 0 1px rgb(71, 71, 71); */
}

.slogan h1 {
  align-self: end;

  /* background-color: rgba(55, 187, 211, 0.2);
  box-shadow: inset 0 0 0 1px rgb(71, 71, 71); */
}

.slogan p {

  /* background-color: rgba(55, 187, 211, 0.2);
  box-shadow: inset 0 0 0 1px rgb(71, 71, 71); */
}

.quiz {
  padding:30px;

  background: #FFFFFF;
  box-shadow: -7px 7px 14px rgba(220, 220, 220, 0.2), 7px -7px 14px rgba(220, 220, 220, 0.2), -7px -7px 14px rgba(255, 255, 255, 0.9), 7px 7px 18px rgba(220, 220, 220, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(220, 220, 220, 0.5);
  border-radius: 10px;

  /* background-color: rgba(55, 187, 211, 0.2);
  box-shadow: inset 0 0 0 1px rgb(71, 71, 71); */
}

.quiz-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  height: 100%;
  row-gap: 35px;

  /* background-color: rgba(55, 187, 211, 0.2);
  box-shadow: inset 0 0 0 1px rgb(71, 71, 71); */
}

.quiz-description {

  /* background-color: rgba(55, 187, 211, 0.2);
  box-shadow: inset 0 0 0 1px rgb(71, 71, 71); */
}

.quiz-button {
  display: block;

  width: 300px;
  height: 40px;

  /* width: 100%;
  height: 40px; */
}

.features {
  grid-column: 1/3;
  align-self: center;
}

.features-list {
  display: grid;
  grid-template: 1fr / repeat(5, auto);
  grid-auto-rows: minmax(88px, auto);
  gap: 40px;
  justify-items: center;

  /* background-color: rgba(55, 187, 211, 0.2);
  box-shadow: inset 0 0 0 1px rgb(71, 71, 71); */
}

.features-item {
  width: 160px;
  height: auto;
  padding: 20px;

  box-shadow: -7px 7px 14px rgba(220, 220, 220, 0.2), 7px -7px 14px rgba(220, 220, 220, 0.2), -7px -7px 14px rgba(255, 255, 255, 0.9), 7px 7px 18px rgba(220, 220, 220, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(220, 220, 220, 0.5);
  border-radius: 10px;
}

.feature-1:after {
  content: "";

  position: absolute;
  top: 440px;
  left: 40px;

  width: 16px;
  height: 18px;

  background-image: url(../img/icon_contract.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}






/* .main-grid {
  display: grid;

  background-color: rgba(152, 224, 236, 0.2);
  border: 1px dashed black;
} */

/* .works-grid {

  background-color: rgba(152, 224, 236, 0.2);
  box-shadow: inset 0 0 0 1px rgb(71, 71, 71);
} */

/* .clients-grid {

  background-color: rgba(152, 224, 236, 0.2);
  box-shadow: inset 0 0 0 1px rgb(71, 71, 71);
} */

/* .services-grid {
  
  background-color: rgba(152, 224, 236, 0.2);
  box-shadow: inset 0 0 0 1px rgb(71, 71, 71);
} */

/* .howtostart-grid {

  background-color: rgba(152, 224, 236, 0.2);
  box-shadow: inset 0 0 0 1px rgb(71, 71, 71);
} */

