/* Global styles */
/* .hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

body {
  margin: 0;
  padding: 0;

  font-family: "PT Root UI", Arial, sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: #707070;
  text-transform: none;

  background-color: #f2f2f2;

  /* background-image: url("../img/screenshot.png");
  background-size: 1200px auto;
  background-position: top center;
  background-repeat: no-repeat; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #707070;
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 130%;
  color: #2d2d2d;

  text-align: center;
  vertical-align: middle;

  background-color: linear-gradient(135deg, #FFFFFF 0%, #E8E8E8 100%);
  border: 2px solid #D79B00;
  box-sizing: border-box;
  box-shadow: -5px 5px 10px rgba(220, 220, 220, 0.2), 5px -5px 10px rgba(220, 220, 220, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(220, 220, 220, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(220, 220, 220, 0.5);
  border-radius: 5px;
}

.button:hover,
.button:focus {
  color: #FFFFFF;
  background-color: #D79B00;
  box-shadow: none;
}

h3 {
  font-size: 20px;
  line-height: 130%;
  font-weight: 500;
  color: #2d2d2d;
}


/* Header */



.nav-links a:focus,
.nav-links a:hover {
  color: #D79B00;
}


/* Start-screen */
.slogan-heading {
  font-size: 44px;
  line-height: 130%;
  font-weight: 600;
  color: #2d2d2d;
}

.slogan-description {
  font-size: 20px;
  line-height: 150%;
}

.quiz-description {
  font-size: 20px;
  line-height: 150%;
}

.quiz-description
.text-yellow {
  color: #D79B00;
}


.features-list {
  list-style: none;
}

.features-item
.text-black {
  color: #2d2d2d;
}


/* Section headings */
.section-heading {
  font-size: 40px;
  line-height: 130%;
  font-weight: 500;
  color: #2d2d2d;
}

.section-description {
  font-size: 20px;
  line-height: 130%;
}


/* Screen-2 (works)*/
.works-item img:hover {
  opacity: 0.9;
}

.more-info,
.link-to-site {
  color: #D79B00;
  opacity: 0.6;
  line-height: 130%;
}

.more-info:hover,
.link-to-site:hover,
.more-info:focus,
.link-to-site:focus {
  color: #D79B00;
  opacity: 1;
}


/* Section clients */


/* Section services */
.services-price {
  font-size: 16px;
  line-height: 130%;
  color: #2d2d2d;
}


/* Section How to start? */


/* Footer */

.footer a:hover,
.footer a:focus {
  color: #D79B00;
}

.copyright {
  font-size: 12px;
  line-height: 130%;
}


/* GRID STYLES */
.header {

  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 1px rgb(65, 65, 65);
}

.nav-bar {
  display: flex;

  width: 100%;
  height: 60px;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 1px rgb(65, 65, 65);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 1px rgb(65, 65, 65);
}

.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-content: center;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 1px rgb(65, 65, 65);
}

.logo {
  width: 35px;
  height: 28px;

  margin: 0;
  padding: 0;

  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 1px rgb(65, 65, 65);
}

.nav-links {
  display: flex;

  margin: 0;
  padding: 0;

  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 1px rgb(65, 65, 65);
}