@charset "UTF-8";
/* Fonts

  100 - thin
  200 - ultralite
  300 - lite
  400 - normal/regular
  500 - medium
  600 - semibold
  700 - bold
  800 - heavy
  900 - black 
*/
@font-face {
  font-family: "PT-Root-UI";
  src: url("../fonts/PT-Root-UI_Bold.woff2");
  src: local("☺"), url("../fonts/PT-Root-UI_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PT-Root-UI_Light.woff2");
  src: local("☺"), url("../fonts/PT-Root-UI_Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PT-Root-UI_Medium.woff2");
  src: local("☺"), url("../fonts/PT-Root-UI_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PT-Root-UI_Regular.woff2");
  src: local("☺"), url("../fonts/PT-Root-UI_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Global */
html,
body {
  height: 100%;
  width: 100%;
  font-family: "PT Root UI", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: #707070;
  text-transform: none;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #f2f2f2;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  padding: 0 12px 0;
}

.text-gold {
  color: #D79B00;
}

.text-bold {
  color: #2d2d2d;
  font-weight: 700;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  font-weight: 500;
  line-height: 1.3;
  color: #2d2d2d;
  background: -webkit-linear-gradient(315deg, #FFFFFF 0%, #EDEDED 100%);
  background: -o-linear-gradient(315deg, #FFFFFF 0%, #EDEDED 100%);
  background: linear-gradient(135deg, #FFFFFF 0%, #EDEDED 100%);
  border: 2px solid #D79B00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -5px 5px 10px rgba(214, 214, 214, 0.2), 5px -5px 10px rgba(214, 214, 214, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(214, 214, 214, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(214, 214, 214, 0.5);
          box-shadow: -5px 5px 10px rgba(214, 214, 214, 0.2), 5px -5px 10px rgba(214, 214, 214, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(214, 214, 214, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(214, 214, 214, 0.5);
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.section-title__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
  color: #2d2d2d;
}

.section-title__description {
  font-size: 20px;
  line-height: 1.3;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 50px;
  min-width: 320px;
  background: #FFFFFF;
  -webkit-box-shadow: -7px 7px 14px rgba(218, 218, 218, 0.2), 7px -7px 14px rgba(218, 218, 218, 0.2), -7px -7px 14px rgba(255, 255, 255, 0.9), 7px 7px 18px rgba(218, 218, 218, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(218, 218, 218, 0.5);
          box-shadow: -7px 7px 14px rgba(218, 218, 218, 0.2), 7px -7px 14px rgba(218, 218, 218, 0.2), -7px -7px 14px rgba(255, 255, 255, 0.9), 7px 7px 18px rgba(218, 218, 218, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(218, 218, 218, 0.5);
}

.header__navbar-toggle {
  width: 30px;
  height: 30px;
}

.header__callme {
  width: 30px;
  height: 30px;
}

.header__navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
}

.main-navbar {
  position: relative;
  padding: 10px 0;
  top: -200px;
}

.main__first-screen {
  margin-bottom: 50px;
}

.main__works {
  margin-bottom: 50px;
}

.main__clients {
  margin-bottom: 50px;
}

.main__services {
  margin-bottom: 50px;
}

.main__howtostart {
  margin-bottom: 50px;
}

.first-screen__slogan {
  margin-top: 100px;
}

.first-screen__quiz {
  margin-top: 50px;
}

.slogan__title {
  color: #2d2d2d;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
}

.slogan__description {
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;
}

.quiz {
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: -7px 7px 14px rgba(218, 218, 218, 0.2), 7px -7px 14px rgba(218, 218, 218, 0.2), -7px -7px 14px rgba(255, 255, 255, 0.9), 7px 7px 18px rgba(218, 218, 218, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(218, 218, 218, 0.5);
          box-shadow: -7px 7px 14px rgba(218, 218, 218, 0.2), 7px -7px 14px rgba(218, 218, 218, 0.2), -7px -7px 14px rgba(255, 255, 255, 0.9), 7px 7px 18px rgba(218, 218, 218, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(218, 218, 218, 0.5);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 30px;
}

.quiz__description {
  color: #2d2d2d;
  font-size: 20px;
  font-weight: 500;
}

.quiz__button {
  margin-top: 30px;
}

.features {
  margin-top: 50px;
}

.features__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
}

.features__item {
  -webkit-flex-basis: 200px;
      -ms-flex-preferred-size: 200px;
          flex-basis: 200px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-right: 30px;
}

.features-card {
  display: block;
  margin-bottom: 15px;
  width: 200px;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
}

.features-card__icon {
  position: relative;
  top: 10px;
  left: 20px;
  z-index: 1;
  width: 42px;
  height: 42px;
}

.features-card__text {
  position: relative;
  z-index: 2;
  padding: 20px;
  min-height: 88px;
  background: -webkit-linear-gradient(315deg, #E6E6E6 0%, #FEFEFE 100%);
  background: -o-linear-gradient(315deg, #E6E6E6 0%, #FEFEFE 100%);
  background: linear-gradient(135deg, #E6E6E6 0%, #FEFEFE 100%);
  -webkit-box-shadow: -5px 5px 10px rgba(218, 218, 218, 0.2), 5px -5px 10px rgba(218, 218, 218, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(218, 218, 218, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(218, 218, 218, 0.5);
          box-shadow: -5px 5px 10px rgba(218, 218, 218, 0.2), 5px -5px 10px rgba(218, 218, 218, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(218, 218, 218, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(218, 218, 218, 0.5);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.works__title {
  margin-bottom: 30px;
}

.works__item {
  margin-bottom: 30px;
}

.works-card {
  background: -webkit-linear-gradient(315deg, #E6E6E6 0%, #FEFEFE 100%);
  background: -o-linear-gradient(315deg, #E6E6E6 0%, #FEFEFE 100%);
  background: linear-gradient(135deg, #E6E6E6 0%, #FEFEFE 100%);
  -webkit-box-shadow: -5px 5px 10px rgba(218, 218, 218, 0.2), 5px -5px 10px rgba(218, 218, 218, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(218, 218, 218, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(218, 218, 218, 0.5);
          box-shadow: -5px 5px 10px rgba(218, 218, 218, 0.2), 5px -5px 10px rgba(218, 218, 218, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(218, 218, 218, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(218, 218, 218, 0.5);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 30px;
}

.works-card__image {
  width: 100%;
}

.works-card__title {
  color: #2d2d2d;
  margin-top: 20px;
}

.works-card__links-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.works-card__more-link {
  color: #D79B00;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.works-card__more-link::after {
  content: "";
  width: 20px;
  height: 8px;
  background-image: url(/img/arrow-small.svg);
  background-repeat: no-repeat;
  margin-left: 6px;
}

.works-card__site-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #D79B00;
}

.works-card__site-link::before {
  content: "";
  width: 16px;
  height: 12px;
  background-image: url(/img/icon-link.svg);
  background-repeat: no-repeat;
  margin-right: 6px;
}
