@import "../vars";
@import "../mixins";

.faq-accordeon {

  &__columns {
    
    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__list {

    @media (min-width: $tablet-width) {
      display: flex;
      flex-flow: row wrap;
      flex-basis: 48%;
    }
  }

  &__item {
    padding-bottom: 20px;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    background-color: unset;
    color: #2d2d2d;
    line-height: 26px;
    font-size: 20px;
    cursor: pointer;
    padding-bottom: 4px;
    // padding-top: 20px;
    width: 100%;
    text-align: left;
    border: none;
    // border-bottom: 1px solid $gold;
    outline: none;
    transition: 0.4s;

    &:hover {
      color: $gold;
    }

    &:focus {
      transition: unset;
    }

    &::after {
      align-self: center;
      content: "◄";
      color: $gold;
      font-size: 16px;
      font-weight: 700;
      float: right;
      margin-top: 3px;
      margin-left: 5px;
      transition: 0.2s;
    }

    &--active {
      
      &::after {
        display: block;
        content: "◄";
        font-size: 16px;
        font-weight: 700;
        color: $gold;
        transition: 0.2s;
        transform: rotate(-90deg);
      }
    }
  }

  &__content {
    display: block;
    padding: 0 12px;
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(230, 230, 230, 0.5), inset -5px 5px 10px rgba(230, 230, 230, 0.2), inset 5px -5px 10px rgba(230, 230, 230, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(230, 230, 230, 0.9);
    max-height: 0;
    overflow: hidden;
    // transition: max-height 0.2s ease-in-out;
    border-bottom: 1px solid $gold;
  }

  &__text {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #2d2d2d;
  }
}
