@import "../mixins";
@import "../vars";

.works {

  &__title {
    margin-bottom: 30px;
  }

  &__list {
    margin-bottom: 30px;
    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }

  &__item {
    margin-bottom: 30px;
    @media (min-width: $tablet-width) {
      width: 48%;
    }

  }

  &__button {
    @media (min-width: $tablet-width) {
      width: 360px;
      margin: 0 auto;
    }
  }
}

.works-card {
  background: linear-gradient(135deg, #E6E6E6 0%, #FEFEFE 100%);
  box-shadow: -5px 5px 10px rgba(218, 218, 218, 0.2), 5px -5px 10px rgba(218, 218, 218, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(218, 218, 218, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(218, 218, 218, 0.5);
  border-radius: 10px;
  padding: 20px;
  @media (min-width: $tablet-width) {
    min-height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 30px;
  }

  &__view-link {

  }

  &__image {
    width: 100%;
    border-radius: 10px;

    &:hover {
      opacity: 0.9;
    }
  }

  &__title {
    color: #2d2d2d;
    margin-top: 20px;
  }

  &__links-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__more-link {
    color: $gold;

    &:hover::after {
      display: inline-block;
      margin-bottom: 1px;
      content: "";
      width: 20px;
      height: 8px;
      background-image: url(/img/arrow-small.svg);
      background-repeat: no-repeat;
      margin-left: 6px;
    }

  }

  &__site-link {

    color: $gold;
    &::before {
      display: inline-block;
      content: "";
      width: 16px;
      height: 12px;
      background-image: url(/img/icon-link.svg);
      background-repeat: no-repeat;
      margin-right: 5px;

    }
  }
}


