.howtostart {
  margin-bottom: 40px;

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 30px;
  }

  &__arrow {
    display: none;
  }

  &__buttons-wrapper {
    display: flex;
    flex-flow: column nowrap;
    @media (min-width: $tablet-width) {
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }

  &__button {
    margin-bottom: 20px;
    @media (min-width: $tablet-width) {
     flex-grow: 0;
     flex-basis: 48%;
    //  width: 300px;
    }
    
  }
}
