.about-main {

  &__breadcrumbs {
    margin-bottom: 80px;
  }

  &__breadcrumbs-list {
    margin-bottom: 80px;
  }

  &__hello {
    margin-bottom: 80px;
  }

  &__contacts {
    margin-bottom: 80px;
  }

}