.header {
  position: sticky;
  top: 0;

  width: 100%;
  height: 50px;
  min-width: 320px;
  background-color: #ffffff;

  &__wrapper {

  }

  &__navbar-toggle {
    width: 30px;
    height: 30px;
  }

  &__logo {

  }
  
  &__callme {
    width: 30px;
    height: 30px;
  }
  
  &__navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;

  }

  &__links {
  }
}

.main-navbar {
  position: relative;
  padding: 10px 0;
  top: -200px;

  &__list {

  }

  &__item {

  }

  &__link {

  }
}