.main {

  &__first-screen {
    margin-bottom: 80px;

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &__works {
    margin-bottom: 80px;
  }

  &__clients {
    margin-bottom: 80px;
  }

  &__services {
    margin-bottom: 80px;
  }

  &__howtostart {
    margin-bottom: 80px;
  }
}