@import "./vars";
@import "./mixins";

.footer {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(230, 230, 230, 0.5), inset -5px 5px 10px rgba(230, 230, 230, 0.2), inset 5px -5px 10px rgba(230, 230, 230, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(230, 230, 230, 0.9);
  padding-top: 40px;
  padding-bottom: 10px;



  &__title {
    @include h3;
  }

  &__columns {
    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;

    }
  }

  &__left-column {
    padding-bottom: 20px;
    margin-bottom: 20px;
    @media (min-width: $tablet-width) {

    }
  }

  &__mid-column {
    padding-bottom: 20px;
    @media (min-width: $tablet-width) {
      justify-content: space-between;
    }
  }

  &__right-column {
    padding-bottom: 20px;
    @media (min-width: $tablet-width) {
    }
  }

  &__bottom-bar {
  }
}

.left-column {

  &__title {
    margin-bottom: 20px;
    min-width: max-content;
  }

  &__text {
  }

  &__links-wrapper {
    display: flex;
    justify-content: space-between;
    @media (min-width: $tablet-width) {
      flex-flow: column;
    }
  }

  &__link {
    color: $gold;

  }
}

.mid-column {
  @media (min-width: $tablet-width) {
    min-width: 200px;
    max-width: 200px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-flow: wrap;
    @media (min-width: $tablet-width) {
      
    }
  }

  &__item {
    margin-right: 10px;
    margin-bottom: 20px;
    @media (min-width: $tablet-width) {
      
    }
  }

  &__social-button {
  }

  &__image {
  }
}

.right-column {
  @media (min-width: $tablet-width) {
    min-width: 200px;
    max-width: 250px;
  }

  &__title {
    margin-bottom: 20px;
    min-width: max-content;
  }

  &__links {
    display: flex;
    flex-flow: column nowrap;
  }

  &__columns {
    display: flex;
  }

  &__list {
    margin-right: 60px;
    min-width: max-content;
  }

  &__item {
  }

  &__link {

    &:hover {
      color: $gold;
    }
  }

  &__link-privacy {
    margin-top: 10px;

    &:hover {
      color: $gold;
    }
  }
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

  &__developer-link {
  }

  &__dev-mark {
  }

  &__copyright {
    padding: 7px 0;
    display: block;
    height: 100%;
    line-height: 1;
  }

  &__button-top {
    font-size: 14px;
    padding: 0 10px;
    width: 87px;
    height: 30px;
    border: 1px solid #2d2d2d;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: none;
    }

}
