@import "./vars";
@import "./mixins";


.works-main {

  &__breadcrumbs {
    margin-top: 100px;
    margin-bottom: 20px;

    @media (min-width: $desktop-width) {
      margin-top: 120px;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__works-preview {
    margin-bottom: 60px;
  }
}


.works-preview {

  &__works-tabs {
    margin-bottom: 20px;
  }

  &__works-content {
  }
}


.works-tabs {
  display: flex;
  overflow-x: auto;
  flex-flow: nowrap;
  min-height: 70px;
  align-items: center;
  padding: 15px 0;

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    overflow-x: hidden;
    margin: 0 auto;
  }

  &__tab {
    min-width: min-content;
    min-height: 50px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    background: linear-gradient(135deg, #E6E6E6 0%, #FEFEFE 100%);
    box-shadow: -5px 5px 10px rgba(218, 218, 218, 0.2), 5px -5px 10px rgba(218, 218, 218, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(218, 218, 218, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(218, 218, 218, 0.5);

    &:hover {
      color: $gold;
    }
  }
}


.works-content {

  @media (min-width: $desktop-width) {
    margin-top: 30px;
  }

  &__block {
    position: relative;
    margin-bottom: 40px;
  }

  &__section-title {
    // margin-bottom: 20px;
  }

  &__works-list {
    overflow-x: auto;
    display: flex;
    margin-bottom: 30px;
    padding: 15px 0;

    @media (min-width: $desktop-width) {
      max-width: 1200px;
      overflow-x: hidden;
      flex-flow: wrap;
      margin: 0 auto;
      padding: 15px 12px;
    }
  }

  &__works-card-small {
    min-width: 240px;
    margin-left: 12px;
    margin-right: 12px;

    @media (min-width: $desktop-width) {
      width: 30%;
      margin-bottom: 40px;
      margin-left: 0;
      margin-right: 48px;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  &__button {
    @media (min-width: $tablet-width) {
      max-width: 360px;
      margin: 0 auto;
    }
  }
}


.works-card-small {
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(135deg, #E6E6E6 0%, #FEFEFE 100%);
  box-shadow: -5px 5px 10px rgba(218, 218, 218, 0.2), 5px -5px 10px rgba(218, 218, 218, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(218, 218, 218, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(218, 218, 218, 0.5);
  padding: 20px 20px;
  display: flex;
  flex-flow: column nowrap;
  // justify-content: space-between;

  @media (min-width: $tablet-width) {
    max-width: 360px;
  }

  &__view-link {
  }

  &__image {
    width: 100%;
    border-radius: 10px;
  }

  &__title {
    margin-top: 10px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__links-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__more-link {
    color: $gold;
  }

  &__site-link {
    color: $gold;
  }

  &__description {
  }
}
