@import "./vars";
@import "./mixins";

.about-main {

  &__breadcrumbs {
    margin-top: 120px;
    margin-bottom: 20px;
  }

  &__hello {
    margin-bottom: 60px;
  }

  &__contacts {
    margin-bottom: 60px;
  }
}


@import "./page-about/page-about__hello";
@import "./page-about/page-about__contacts";