@import "../vars";
@import "../mixins";


.contacts {

  &__title {
    margin-bottom: 30px;
  }

  &__wrapper {

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__list {

    @media (min-width: $tablet-width) {
      width: 40%;
    }
  }

  &__item {
    margin-bottom: 20px;
  }

  &__heading {
    margin-bottom: 6px;
    font-weight: 700;
  }

  &__link-phone {
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
  }

  &__mail {
    font-size: 20px;
    line-height: 20px;
  }

  &__link {
    margin-right: 12px;
  }

  &__link-image {

  }

  &__askme-form {
    @media (min-width: $tablet-width) {
      width: 50%;
    }
  }
}


.askme-form {

  &__heading {
    font-weight: 700;
    margin-bottom: 6px;
  }

  &__item {
    margin-bottom: 12px;
  }

  &__input {
    width: 100%;
    min-height: 40px;
    resize: vertical;
    border: 1px solid #2d2d2d;
    border-radius: 10px;

    &::placeholder {
      padding-top: 6px;
      padding-left: 10px;
    }
  }

  &__input-title {

  }

  &__button {
    margin-top: 20px;
    width: 100%;
  }
}