@import "../vars";
@import "../mixins";


.contacts {
  position: relative;

  &__title {
    margin-bottom: 30px;
  }

  &__wrapper {

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__list1 {

    @media (min-width: $tablet-width) {
      width: 50%;
    }
  }

  &__list2 {

    @media (min-width: $tablet-width) {
      width: 50%;
    }
  }

  &__item {
    margin-bottom: 20px;
  }

  &__heading {
    margin-bottom: 6px;
    font-weight: 700;
  }

  &__link-phone {
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
  }

  &__mail {
    font-size: 20px;
    line-height: 20px;
  }

  &__link {
    margin-right: 12px;
  }

  &__link-image {

  }

}
